[program:elasticsearch]
command={{ elasticsearch_home_dir }}/bin/elasticsearch -Epath.conf={{elasticsearch_conf_dir}}
autostart=true
autorestart=true
user={{ elasticsearch_user }}
startsecs=10
startretries=3
stderr_logfile=/var/log/supervisor/elasticsearch.log
stderr_logfile_maxbytes=50MB
